PAKASIR_PROJECT=YOUR_PAKASIR_PROJECT_NAME
PAKASIR_API_KEY=YOUR_PAKASIR_API_KEY
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID_FOR_TESTING
DASHBOARD_SECRET=@bangdet.md
